body {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

h1 {
  visibility: hidden;
  font-size: 0; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0 50px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); }
  .header__logo {
    width: 40px;
    height: 40px; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  white-space: nowrap;
  font-weight: 500; }
  .menu__link {
    font-weight: 500;
    font-size: 12px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    line-height: 60px;
    margin-left: 20px; }
    .menu__link:not(.menu__link--active) {
      color: black; }
    .menu__link--active {
      color: #00acdc; }
      .menu__link--active::after {
        background-color: #00acdc;
        display: block;
        content: "";
        height: 2px;
        border-radius: 8px;
        width: 100%;
        position: absolute;
        bottom: 0; }
    .menu__link:hover {
      color: #00acdc; }

@media screen and (max-width: 900px) {
  .header {
    display: none; } }

.products {
  margin: 50px auto;
  max-width: 944px;
  display: grid;
  gap: 48px;
  grid-template-columns: repeat(4, 1fr); }

.card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  height: 403px;
  padding: 15px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  justify-self: start; }
  .card__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .card__inner-img {
    width: 160px;
    height: 134px;
    background-image: url("../images/imac.jpeg");
    background-size: cover; }
  .card__inner-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px; }
  .card__inner-code {
    width: 101px;
    height: 13px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 16px; }
  .card__inner-rate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
  .card__inner-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .card__button {
    background: #00acdc;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    width: 170px;
    height: 40px;
    cursor: pointer; }
    .card__button:hover {
      background-color: #fff;
      color: #00acdc; }

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 91px; }
  .stars__star {
    width: 15px;
    height: 15px;
    background-image: url("../images/star.svg");
    background-size: cover;
    cursor: pointer; }

.price__details-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px; }

.price__details {
  margin-top: 19px; }

.price__details-sum {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px; }

.description {
  font-size: 11px;
  line-height: 13px; }

.card-img-background {
  background-color: red;
  margin-top: 15px; }

.card-title {
  margin: 45px 0 5px; }

.stars-1 .stars__star:nth-child(-n+1) {
  background-image: url("../images/star-active.svg"); }

.stars-2 .stars__star:nth-child(-n+2) {
  background-image: url("../images/star-active.svg"); }

.stars-3 .stars__star:nth-child(-n+3) {
  background-image: url("../images/star-active.svg"); }

.stars-4 .stars__star:nth-child(-n+4) {
  background-image: url("../images/star-active.svg"); }

.stars-5 .stars__star:nth-child(-n+5) {
  background-image: url("../images/star-active.svg"); }

body {
  font-family: roboto, sans-serif; }

/*# sourceMappingURL=main.css.map */
