body {
  margin: 0; }

h1,
h2,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

h1 {
  visibility: hidden;
  font-size: 0; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  padding: 8px 50px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); }
  .nav__logo {
    width: 40px;
    height: 40px; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  white-space: nowrap;
  width: 753px;
  font-weight: 500; }
  .menu__link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px; }
    .menu__link:not(.menu__link--active) {
      color: black;
      position: relative;
      display: inline-block;
      line-height: 1;
      cursor: pointer; }
    .menu__link--active {
      color: #00acdc;
      position: relative;
      display: inline-block;
      line-height: 1;
      text-decoration: none;
      cursor: pointer; }
      .menu__link--active::after {
        background-color: #00acdc;
        display: block;
        content: "";
        height: 4px;
        border-radius: 8px;
        width: 100%;
        position: absolute;
        top: 32px; }
    .menu__link:hover {
      color: #00acdc; }

@media screen and (max-width: 900px) {
  .nav {
    display: none; } }

.card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  height: 403px;
  padding: 15px;
  border: 1px solid #f3f3f3;
  border-radius: 5px; }
  .card__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .card__item-img {
    width: 160px;
    height: 134px;
    background-image: url("../images/imac.jpeg");
    background-size: cover; }
  .card__item-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px; }
  .card__item-code {
    width: 101px;
    height: 13px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 16px; }
  .card__item-rate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
  .card__item-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .card__button {
    background: #00acdc;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    width: 170px;
    height: 40px;
    cursor: pointer; }
    .card__button:hover {
      background-color: #fff;
      color: #00acdc; }

.card-container {
  margin-top: 50px; }

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 91px;
  -ms-flex-item-align: start;
      align-self: flex-start; }
  .stars__star {
    width: 13px;
    height: 12px;
    background-image: url("../images/star.svg");
    background-size: cover;
    cursor: pointer; }

.price__details-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px; }

.price__details-sum {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px; }

.products {
  max-width: 944px;
  margin: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px; }

@media screen and (min-width: 1200px) {
  .products {
    margin: 0 128px; } }

.card-img-background {
  background-color: red;
  margin-top: 16px; }

.card-title {
  margin: 44px 0 5px; }

.price__details {
  margin-top: 21px; }

.stars-1 .stars__star:nth-child(-n+1) {
  background-image: url("../images/star-active.svg"); }

.stars-2 .stars__star:nth-child(-n+2) {
  background-image: url("../images/star-active.svg"); }

.stars-3 .stars__star:nth-child(-n+3) {
  background-image: url("../images/star-active.svg"); }

.stars-4 .stars__star:nth-child(-n+4) {
  background-image: url("../images/star-active.svg"); }

.stars-5 .stars__star:nth-child(-n+5) {
  background-image: url("../images/star-active.svg"); }

body {
  font-family: roboto, sans-serif; }

/*# sourceMappingURL=main.css.map */
